@import "../scss/global.scss";

.text-area {
    background-color: #1c1c1c;
    width: 50%;
    height: 100vh;
    letter-spacing: 0.09em;
    .text-left {
        position: relative;
    }
    .about,
    .me {
        font-family: "Anton", sans-serif;
        color: #f4f4f4;
        font-size: 200px;
    }
    .about {
        transform: rotate(90deg);
        position: absolute;
        top: 110px;
        left: 62%;
    }
    .me {
        position: absolute;
        top: 670px;
        left: 4%;
    }
    .text-right {
        @include preten-Regular;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 60%;
        font-size: 28px;
    }
}
.inner {
    @include preten-Bold 
}
