@import "../scss/global.scss"; // 절대경로 X, CRA는 이게 맞음

.shiny-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    pointer-events: none;
    user-select: none;
}

body {
    overflow: hidden;
    background-color: #f4f4f4;
    //스크롤 방지
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.content {
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flow,
.design {
    @include en-big;
    display: block; 
    line-height: 1;
    z-index: 3;
}

.in {
    font-family: "NordminneScript";
    font-size: clamp(200px, 25vw, 390px); 
    display: block;
    color: #7e7e7e;
    position: absolute;
    top: 50%; 
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.flow {
    transform: translateX(-48%); 
}

.design {
    transform:  translateX(25%); 
}