@import "../scss/global.scss"; 

.home-container {
    width: 100%;
    @include en-Title;
    position: static;
    nav {
        position: fixed;
        z-index: 1000;
        top: 15px;
        right: 15px;
        display: flex;
        gap: 12px;
        overflow-x: auto;;
        a {
            text-decoration: none;
            color: #525252;
            font-weight: 500;
            padding: 8px 12px;
            border-radius: 4px;
            transition: all 0.3s ease;
            &:hover {
                color: #000000; // 나중에 디자인 수정
            }
        }
    }
}