@import "./font";
@import "./mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
button,
input {
    font-family: inherit;
}
html {
    font-size: 16px;
}
body {
    color: var(--color-font);
}
